NEXTCLOUD_DOMAIN=storagecloud.download
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=change-this-long-random-password

POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=change-this-long-random-database-password

CLOUDFLARE_TUNNEL_TOKEN=paste-your-cloudflare-tunnel-token-here

PHP_MEMORY_LIMIT=1024M
PHP_UPLOAD_LIMIT=10G

NEXTCLOUD_LOCAL_BIND=127.0.0.1
NEXTCLOUD_LOCAL_PORT=8080

TURN_SECRET=change-this-long-random-turn-secret
TURN_REALM=storagecloud.download
TURN_EXTERNAL_IP=auto

IMMICH_VERSION=release
IMMICH_DOMAIN=photos.storagecloud.download
IMMICH_LOCAL_BIND=127.0.0.1
IMMICH_LOCAL_PORT=2283
IMMICH_UPLOAD_LOCATION=immich_uploads
IMMICH_DB_USERNAME=postgres
IMMICH_DB_PASSWORD=change-this-long-random-immich-db-password
IMMICH_DB_DATABASE_NAME=immich
TZ=Europe/Ljubljana
